.DS_Store

node_modules
apps/*/node_modules
packages/*/node_modules

.env
.env.DS_Store
.env*.local

*.csr
*.csv
*.ignore.sql

google-credentials.json

.idea/

sql-backups/

.claude/
CLAUDE.md

# Ignore build folder
build/
dist/

token.json
scrapers/credentials.json

flyway/*.conf
other_scripts
backend/scrapers/credentials.json
backend/scrapers/credentials.json
supabase/seed.sql
