# Ignore .DS_Store files (common on macOS)
.DS_Store

# Ignore node_modules folder, recursively for all subdirectories
node_modules/
**/node_modules/

# Ignore any .DS_Store files in subdirectories
**/.DS_Store

# Optional: Ignore npm package lock files (if you want to, usually kept in version control)
# package-lock.json
# yarn.lock

# Ignore cache files in frontend/node_modules/.cache/ and recursively
frontend/node_modules/.cache/
**/node_modules/.cache/

# Ignore environment variables file
.env.DS_Store
.env
.env.development
.env.development

google-credentials.json


# Ignore build folder
build/

token.json
scrapers/credentials.json

flyway/*.conf
other_scripts
backend/scrapers/credentials.json
backend/scrapers/credentials.json
