# Ignore .DS_Store files (common on macOS)
.DS_Store

# Ignore node_modules folder, recursively for all subdirectories
node_modules/
**/node_modules/

database/
entity_map.json

# Ignore cache files in frontend/node_modules/.cache/ and recursively
frontend/node_modules/.cache/
**/node_modules/.cache/

# Ignore environment variables file
.env.DS_Store
.env
.env.*

*.csr
*.csv
*.ignore.sql

google-credentials.json

.idea/

sql-backups/

.claude/
CLAUDE.md

# Ignore build folder
build/
dist/

# notes
project/

token.json
scrapers/credentials.json

flyway/*.conf
other_scripts
backend/scrapers/credentials.json
backend/scrapers/credentials.json
supabase/seed.sql
