dev.tcupboard.org {
    handle /api/* {
        reverse_proxy backend:3001
    }

    handle {
        root /app/www/
        try_files {path} /index.html
        file_server
    }

    header X-Content-Type-Options "nosniff" 
    header X-Frame-Options "SAMEORIGIN" 
    header X-XSS-Protection "1; mode=block" 
}
